.creditcard {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border: 1px solid #808080;
  border-radius: 6px;
background-color: #DDF7F8;
  
  
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  
}
h1{
    text-align: center;
    background-color: #A52A2A;
    border-radius: 10px;
    width: 500px;
    margin-left: 500px;
    height:50px;
    color: white;
}
.creditnumber {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
}
.input .form-submit {
  bottom: 0;
  box-shadow: none;
  margin: 12;
  position: absolute;
  width: 40px;
}
input[name="cvv"]{
  
}
button,
input[type="submit"] {
    font-weight: bold;
    background-color: #045246;    

    
  border: none;
  border-bottom: linear-gradient(135deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: WHITE;
  display: inline-block;
  padding: 8px;
  vertical-align: bottom;
  width: 50%;
  font-size: 20px;
}
button.paypal,
input[type="submit"].paypal {
  border-radius: 3px 0 0 3px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
button.credit,
input[type="submit"].credit {

  border-left: rgba(255, 255, 255, 0.15);
  border-radius: 0 3px 3px 0;
}
button:focus,
input[type="submit"]:focus,
button:hover,
input[type="submit"]:hover {
  
  outline: none;

}
button:active,
input[type="submit"]:active,
button.active,
input[type="submit"].active {
  margin-top: 2px;
  border-bottom-width: 1px;
}

.button {
  background: #f0f0f2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  padding: 25px 30px;
}
.input {
  margin: 30px;
  position: relative;
}

.input .active {
  transform: rotateY(0deg);
}
input {
  background: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px #808080, 1px 1px 0,  #808080;
  margin: 10px 10px 4px;
  padding: 10px 16px 18px 5px;
  width: 180px;
  
}
input[name = "cvc"]
{
  width: 50px;
}

input[name = "expiry"] {
  width: 50px;
  margin-left:30px;
}
.border{
position: absolute;
display: block;
top: 0;
left: 0;
right: 0;
height: 54px;
pointer-events: none;
border-radius: 5px;
overflow: hidden;
}
input.form-submit {

  bottom: 0;
  box-shadow: none;
  margin:0px;
  position: absolute;
  width: 100%;
  
}

.dis{
 display: flex;

}



